__pycache__
.pytest_cache
*output/
data/*
build/*
*egg-info
*.out
*.err

pipelines/speed_benchmarking/params/*
files_for_figures/hard_easy_chem_maps/*
pipelines/get_scores/**/*.txt
pipelines/canonize_rasp_preds/acc_dir/*.txt

